:root {
    font-size: 16px;
    box-sizing: border-box;

    --clr-black: #000000;
    --clr-dark: #1c2930;
    --clr-light: #f1eada;
    --clr-primary: #d18a07;
    --clr-secondary: #407488;

    --border: 2px solid var(--clr-primary);
    --border-radius: 0.5rem;
    --box-shadow-light: 0px 0px 10px var(--clr-light);
    --box-shadow-dark: 0px 0px 10px var(--clr-dark);
    --box-shadow-color: 0px 0px 10px var(--clr-primary);
    --transition: all 0.3s ease-in-out;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: "PT Serif", serif;
    letter-spacing: 0.1rem;
    line-height: 1.6;
    color: var(--clr-black);
    background-color: var(--clr-dark);
    background-image: linear-gradient(to bottom, var(--clr-light) 0%,var(--clr-secondary) 60%, var(--clr-dark) 100%);
    background-repeat: no-repeat;
}

img {
    display: block;
    width: 100%;
}

button,
input {
    cursor: pointer;
    color: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    text-decoration: none;
    border: none;
}

input:focus-visible {
    outline: none;
}

@media (max-width: 800px) {
    :root {
        font-size: 12px;
    }
}