.battlefield {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3rem;
    width: max-content;
    height: auto;
    color: var(--clr-black);
}

.battlefield-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: max-content;
    border-radius: var(--border-radius);
    transition: var(--transition);
    margin: 0 auto 1rem;
}

.battlefield-title {
    font-size: 1.5rem;
    color: var(--clr-primary);
}

.battlefield-btn {
    transition: var(--transition);
}

.battlefield-btn-open {
    transform: rotateZ(180deg);
}

.battlefield-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    min-width: 300px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-light);
    padding: 1rem 2rem;
    transition: var(--transition);
}

.battlefield-screen-img {
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-dark);
    overflow: hidden;
}

.battlefield-screen-img > img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: inherit;
}

[data-tooltip]::before {
    content: attr(data-tooltip);
    position: absolute;
    left: 0;
    bottom: -3rem;
    width: 100%;
    height: 0;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    line-height: 1;
    color: var(--clr-black);
    background-color: var(--clr-primary);
    border-radius: var(--border-radius);
    padding: 0.2rem 0.1rem;
    opacity: 0;
    z-index: 100;
    transition: var(--transition);
}

[data-tooltip]:hover::before {
    opacity: 0.8;
    height: max-content;
    bottom: 0;
}