.battlefield {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3rem;
    width: max-content;
    height: auto;
    color: var(--clr-black);
}

.battlefield-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: max-content;
    border-radius: var(--border-radius);
    transition: var(--transition);
    margin: 0 auto 1rem;
}

.battlefield-title {
    font-size: 1.5rem;
    color: var(--clr-primary);
}

.battlefield-btn {
    transition: var(--transition);
}

.battlefield-btn-open {
    transform: rotateZ(180deg);
}

.battlefield-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    min-width: 300px;
    color: var(--clr-light);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-light);
    padding: 1rem 2rem;
    transition: var(--transition);
}

.battlefield-screen-member {
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.battlefield-screen-member > img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: inherit;
    border-radius: var(--border-radius);
}

.battlefield-screen-member-active {
    border: var(--border);
    box-shadow: var(--box-shadow-color);
}

.selected {
    opacity: 0.5;
  }