.playfield {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    height: 100dvh;
    text-align: center;
    padding: 1rem 2rem;
}

.playfield-cards {
    flex: 1;
    min-width: 300px;
}

.playfield-heading {
    display: flex;
     justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    margin-bottom: 2rem;
}

.playfield-heading::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    content: '';
    display: block;
    width: 70%;
    height: 3px;
    background-color: var(--clr-primary);
    border-radius: var(--border-radius);
}

.playfield-title {
    font-size: 2rem;
    color: var(--clr-primary);
    padding-bottom: 0.5rem;
}


.playfield-add-btn {
    transition: var(--transition);
}

.playfield-add-btn:hover {
   transform: rotateZ(90deg);
}


.playfield-message {
    color: var(--clr-dark);
}

.playfield-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}
